<!DOCTYPE html>
<html>
<head>
    <title>Discover WEB</title>
</head>
<body>
    <h2>Discover routes</h2>
    <form method="POST" action="/">
        <label for="url">Introduce URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit" name="descubrir_rutas">Find Routes</button>
    </form>

    <h2>Results</h2>
    <ul>
    {% for result in results %}
        <li>
            <a href="{{ result }}">{{ result }}</a>
        </li>
    {% endfor %}
    </ul>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
